version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: p2-mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: vulnerable_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db/init:/docker-entrypoint-initdb.d
  backend:
    build: 
      context: .
      dockerfile: Dockerfile 
    container_name: p2-backend
    restart: always
    environment:
      DB_HOST: mysql 
      DB_USER: root
      DB_PASSWORD: password
      DB_NAME: vulnerable_db
      PORT: 3001
    ports:
      - "3001:3001"
    depends_on:
      - mysql

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: p2-frontend
    restart: always
    ports:
      - "8080:80" 
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:3001

volumes:
  mysql_data: