services:
  - type: pserv
    name: p2-database
    plan: free
  - type: web
    name: p2-backend
    dockerContext: .
    dockerfilePath: Dockerfile 
    autoDeploy: true
    env: node
    plan: free
    
    buildCommand: npm install
    startCommand: node app.js 
    
    envVars:
      - key: DB_HOST
        value: ${{ secrets.DATABASE_HOST }}
        property: host

      - key: DATABASE_URL 
        fromDatabase: p2-database
        property: connectionString

      - key: NODE_ENV
        value: production

  - type: web
    name: p2-frontend
    dockerContext: ./frontend
    dockerfilePath: Dockerfile 
    autoDeploy: true
    plan: free
    
    envVars:
      - key: VITE_API_URL
        fromService: p2-backend
        property: defaultUrl