services:
  # Backend
  - type: web
    name: p2-backend
    runtime: docker
    dockerContext: .
    dockerfilePath: Dockerfile
    plan: free
    autoDeploy: true
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: p2-database
          property: connectionString

  # Frontend
  - type: web
    name: p2-frontend
    runtime: docker
    dockerContext: ./frontend
    dockerfilePath: Dockerfile
    plan: free
    autoDeploy: true
    envVars:
      - key: VITE_API_URL
        value: ""