services:
  # BACKEND (Docker)
  - type: web
    name: p2-backend
    runtime: docker
    dockerContext: .
    dockerfilePath: Dockerfile
    plan: free
    autoDeploy: true
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: api_sat_postgres
          property: connectionString

  # FRONTEND (Docker)
  - type: web
    name: p2-frontend
    runtime: docker
    dockerContext: ./frontend
    dockerfilePath: Dockerfile
    plan: free
    autoDeploy: true
    envVars:
      - key: VITE_API_URL
        value: https://p2-backend.onrender.com
