
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=dbpass
DB_NAME=testdb

DB_HOST_PROD=seu-host-publico.railway.app
DB_USER_PROD=seu-usuario
DB_PASSWORD_PROD=sua-senha
DB_NAME_PROD=seu-banco

PORT=3000

NODE_ENV=development